/* ======================= */
/* Responsive Result Page */
/* ======================= */

.resultWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  width: 90%;
  max-width: 100%;
  margin: auto;
}

.resultCardWrapper {
  background: var(--card-bg);
  border-radius: var(--border-radius);
  padding: 2rem;
  box-shadow: var(--shadow);
}

.chartBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  height: 100%;
  width: 100%;
}

@media (max-width: 767.98px) {
  .chartBox {
    margin-bottom: 1rem;
  }

  .resultWrapper {
    padding: 1rem;
    width: 100%;
  }

  .resultCardWrapper {
    padding: 1rem;
  }
}
