@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.home-div {
  margin: 1%;
  height: 90vh;
}

body{
  overflow: hidden;
  height:100vh
}

h1 {
  text-align: center;
  font-weight: 600;
  font-style: bold;
}

.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(30%);
  margin: 2%;
}

.voting .input {
  width: 100%;
  padding: 0.6rem;
  margin: 0.1rem;
}

.estimation .input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.3rem;
}

.form-div .input {
  width: 100%;
  padding: 0.6rem;
  margin: 0.5rem;
}

.form-manager {
  display: flex;
  flex-direction: column !important;
}

.buttons-grp {
  display: inline-block;
  margin-top: 10px;
}
.error {
  color: 'red' !important;
}

.radio-buttons {
  cursor: pointer;
  background-color: #eee;
  border-radius: 50%;
}

.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px !important;
}

.chart-container {
  display: flex;
  flex-direction: column;
  width: 40%;

}

.z-index{
  z-index: 2;
}

.chart-container:first-child {
  text-align: center;
}

.list-container {
  width: 50%;
  margin-top: 25px !important;
  margin-right: 10px !important;
}

.hide {
  display: none;
}

.text-bold {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.loader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 400px;
  top: 30%;
  left: 45%;
  transform: translate(-40%, -30%);
}

.sidebar {
  max-height: 700px;
  margin-left: '100px';
  padding: 1.5rem;
  width: 18rem;
}

.result-container {
  width: 100%;
  flex-direction: row;
  max-width: 80vw;
}

.border-none {
  border: none !important;
}

.btn-container {
  position: relative;
}

.room-details {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin-top: -0.5rem;
}

.position-relative {
  position: relative;
}

.voting-form {
  max-width: 600px;
  max-height: 100vh;
  display: flex;
  margin: auto;
  animation: poll-box 1s linear;
}


.cursor-pointer {
  cursor: pointer;
}

.letter-spacing {
  letter-spacing: 0.1rem;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.overflow-auto{
  overflow: auto;
}

.timer{
  width: 30%;
  position: absolute;
  text-align: center;
  top: 2%;
  right: 0%;
  color: white
}

header{
  background-color: grey;
}

footer{
  background-color: grey;
  width: 100vw;
  position: absolute;
  bottom:0%;
}

.room-value {
  font-size: 1.1rem;
  font-weight: bold;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes toast {
  0% {
    left: 40%;
    top: -100%;
  }
  50% {
    left: 40%;
    top: 25%;
  }
  100% {
    left: 40%;
    top: 7%;
  }
}

@keyframes poll-box {
  0% {
    transform: translateY(-100%)
  }
  50% {
    transform: translateY(50%)
  }
  80% {
    transform: translateY(55%)
  }
}

